{
    "project_name": "pipelines-project",
    "environment": "local",
    "aigear": {
        "gcp": {
            "gcp_project_id": "ssc-ape-staging",
            "bucket": {
                "bucket_name": "pipelines-project-staging",
                "bucket_name_for_release": "model_service-staging",
                "location": "asia-northeast1",
                "on": true
            },
            "cloud_build": {
                "trigger_name": "pipelines-project-trigger",
                "description": "The pipelines of Testing",
                "repository": "retail-ai-inc/medovik",
                "repo_owner": "retail-ai-inc",
                "repo_name": "medovik",
                "branch_pattern": "master",
                "build_config": "/cloudbuild/cloudbuild.yaml",
                "region": "global",
                "substitutions": "_ENVIRONMENT=staging,_KMS_LOCATION=asia-northeast1,_PIPELINES_VERSION=ape3,_PLATFORM=medovik"
            },
            "cloud_function": {
                "function_name": "pipelines-project-run",
                "region": "asia-northeast1"
            },
            "iam": {
                "account_name": "pipelines-project"
            },
            "pub_sub": {
                "topic_name": "pipelines-project-pubsub",
                "sub_name": "pipelines-project-pubsub-subscriptions"
            },
            "logging": false
        },
        "slack": {
            "on": false,
            "webhook_url": "https://hooks.slack.com/services/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"
        }
    },
    "pipelines": {
        "trial_ape3": {
            "company_id": 1,
            "subsidiary_id": 1,
            "company_name": "trial",
            "fetch_store_list": {
                "parameters": {
                    "store_list_base_uri": "https://sandbox.raicart.io/v1/admin/store/list",
                    "manju_client_id_sm_key": "MANJU_CLIENT_ID",
                    "manju_client_secret_sm_key": "MANJU_CLIENT_SECRET"
                },
                "resources": {
                    "vmName": "trial-ape3-fetch-store-list-vm",
                    "diskSizeGb": "20",
                    "dockerImage": "asia-northeast1-docker.pkg.dev/ssc-ape-staging/medovik/ape",
                    "spec": "e2-standard-2",
                    "onHostMaintenance": "MIGRATE"
                },
                "task_run_parameters": {
                    "pipelineVersion": "trial_ape3",
                    "pipelineStep": "ape3.trial.data.fetch_store_list"
                }
            },
            "fetch_data": {
                "parameters": {
                    "mongo_uri_secret_name": "TRIAL_MONGO_URI",
                    "mongo_dbname_secret_name": "MONGO_DB_NAME",
                    "purchase_history_days_delta": 4
                },
                "resources": {
                    "vmName": "trial-ape3-fetch-data-vm",
                    "diskSizeGb": "20",
                    "dockerImage": "asia-northeast1-docker.pkg.dev/ssc-ape-staging/medovik/ape3",
                    "spec": "e2-standard-2",
                    "onHostMaintenance": "MIGRATE"
                },
                "task_run_parameters": {
                    "pipelineVersion": "trial_ape3",
                    "pipelineStep": "ape3.trial.data.fetch_data"
                }
            },
            "preprocessing": {
                "parameters": {
                    "item_purchased_threshold": 10,
                    "user_purchased_threshold": 1,
                    "train_test_split": 0.8,
                    "feature_column_list": [
                        "RemoteUserId",
                        "AgeRange",
                        "StoreId",
                        "Gender",
                        "distance",
                        "SalesPriceWithTax",
                        "code",
                        "LINE_CODE",
                        "ReceiptId",
                        "ItemsCount"
                    ]
                },
                "resources": {
                    "vmName": "trial-ape3-preprocessing-vm",
                    "diskSizeGb": "40",
                    "dockerImage": "asia-northeast1-docker.pkg.dev/ssc-ape-staging/medovik/ape3",
                    "spec": "e2-highmem-8",
                    "onHostMaintenance": "MIGRATE"
                },
                "task_run_parameters": {
                    "pipelineVersion": "trial_ape3",
                    "pipelineStep": "ape3.trial.feature.preprocessing"
                }
            },
            "training": {
                "parameters": {
                    "system_name": "APE",
                    "pipeline_name": "Trial RankFM pipeline",
                    "step_name": "Model training",
                    "factors": 64,
                    "loss": "bpr",
                    "max_samples": 20,
                    "alpha": 0.01,
                    "sigma": 0.1,
                    "learning_rate": 0.1,
                    "learning_schedule": "invscaling",
                    "epochs": 35,
                    "verbose": true,
                    "recommender_filename": "recommender",
                    "sample_size": 1000,
                    "number_of_recommendations": 9
                },
                "resources": {
                    "vmName": "trial-ape3-training-vm",
                    "diskSizeGb": "40",
                    "dockerImage": "asia-northeast1-docker.pkg.dev/ssc-ape-staging/medovik/ape3",
                    "spec": "e2-standard-8",
                    "onHostMaintenance": "MIGRATE"
                },
                "task_run_parameters": {
                    "pipelineVersion": "trial_ape3",
                    "pipelineStep": "ape3.trial.train.training"
                }
            },
            "release": {
                "release_grpc": false
            },
            "scheduler": {
                "name": "trial_ape3_pipelines",
                "location": "asia-northeast1",
                "schedule": "45 21 * * 0",
                "time_zone": "Asia/Tokyo"
            }
        }
    }
}
