{
    "project_name": "",
    "environment": "local",
    "aigear": {
        "gcp": {
            "gcp_project_id": "",
            "location": "",
            "bucket": {
                "on": true,
                "bucket_name": "",
                "bucket_name_for_release": ""
            },
            "cloud_build": {
                "on": false,
                "trigger_name": "",
                "description": "",
                "repository": "***/***",
                "repo_owner": "***",
                "repo_name": "",
                "branch_pattern": "",
                "build_config": "cloudbuild.yaml",
                "substitutions": "***=***,***=****"
            },
            "cloud_function": {
                "on": true,
                "function_name": ""
            },
            "iam": {
                "on": true,
                "account_name": ""
            },
            "pub_sub": {
                "on": true,
                "topic_name": ""
            },
            "artifacts": {
                "on": true,
                "repository_name": ""
            },
            "logging": false
        },
        "slack": {
            "on": false,
            "webhook_url": ""
        }
    },
    "pipelines": {
        "pipeline_version_1": {
            "company_id": 0,
            "subsidiary_id": 0,
            "company_name": "",
            "fetch_store_list": {
            },
            "fetch_data": {
            },
            "preprocessing": {
            },
            "training": {
            },
            "release": {
                "release_grpc": false
            }
        }
    }
}
